@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Playlist */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #4b5563; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fbbf24; 
}

body {
  background-color: #020617;
  color: #e2e8f0;
}